/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole per vedere le col */
.col {
    border: 2px solid brown;
}

/* General */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

/** Header */
header {
    height: 80px;
    flex-shrink: 0;
    background-color: goldenrod;
}

/*! Sidebar */
#sidebar {
    flex-basis: 80px;
    background-image: url(/img/sidebar-bg.png);
    background-color: #051e34;
    flex-shrink: 0;
    height: calc(100vh - 80px);
}


/*? Main */
main {
    flex-grow: 1;
    overflow: auto;
}

/* Jumbotron */
#jumbotron {
    min-height: 100px;
    background-color: #1b72e8;
}

/* Section Graphs */
#graphs {
    height: calc(100vh - 180px);
    background-color: chocolate;
}