/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole per vedere le col */
.col {
    border: 2px solid brown;
}

/* General */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

/** Header */
.header-top {
    height: 80px;
    flex-shrink: 0;
    background-color: #fff;
}

.cs-img {
    width: 50px;
}

.input-group span {
    border-right: 0;
    background-color: #e5e5e5;
    padding: 6px 8px;
}

.input-group input {
    border-left: 0;
    background-color: #e5e5e5;
    padding-left: 0;
}

.fa-bell {
    color: #ff8f00;
}

/*! Sidebar */
#sidebar {
    flex-basis: 80px;
    background-image: url(/img/sidebar-bg.png);
    background-color: #051e34;
    flex-shrink: 0;
}


/*? Main */
main {
    flex-grow: 1;
    overflow: auto;
}

/* Main Header */
.main-header {
    background-color: #1b72e8;
}

/* Section Graphs */
#graphs {
    background-color: #f8f9fa;
}