/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

/** Header */
.header-top {
    height: 80px;
    flex-shrink: 0;
    background-color: #fff;
}

.cs-img {
    width: 50px;
}

.cs-lg-img {
    width: 160px;
}

.input-group span {
    border-right: 0;
    background-color: #e5e5e5;
    padding: 6px 8px;
}

.input-group input {
    border-left: 0;
    background-color: #e5e5e5;
    padding-left: 0;
}

.fa-bell {
    color: #ff8f00;
}

/*! Sidebar */
#sidebar {
    flex-basis: 80px;
    background-image: url(/img/sidebar-bg.png);
    background-color: #051e34;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar ul {
    text-align: center;
}

#sidebar i {
    color: #fff;
}

.cs-bc {
    background-color: transparent;
    height: 40px;
    width: 140px;
    display: block;
    padding: 0 10px;
}

.cs-bc:hover {
    background-color: gray;
}

/*? Main */
main {
    flex-grow: 1;
    overflow: auto;
}

/* Main Header */
.main-header {
    background-color: #1b72e8;
}


.badge {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .3);
    font-size: 14px;
}

li a {
    color: black;
}

/* Offcanvas */
.offcanvas.offcanvas-end {
    width: 100%;
}

.cs-name {
    flex-basis: 50%;
}

.cs-lastname {
    flex-grow: 1;
}

.cs-email {
    flex-basis: 50%;
}

.cs-password {
    flex-grow: 1;
}

.cs-city {
    flex-basis: 50%;
}

.cs-state {
    flex-basis: 30%;
}

.cs-cap {
    flex-basis: 20%;
}

/* Section Graphs */
#graphs {
    background-color: #f8f9fa;
}

.table-img {
    width: 30px;
    border-radius: 50%;
}

.card-body a {
    text-decoration: underline;
    font-weight: 500;
}

@media screen and (min-width: 992px) {
    #sidebar {
        flex-basis: 200px;
    }

    #sidebar ul {
        text-align: left;
        padding-left: 20px;
    }

    .offcanvas.offcanvas-end {
        width: calc(100% / 3);
    }
}